$font-main: 'Noto Sans Thai', 'Open Sans', sans-serif;
$font-sub: 'Fjalla One', 'Open Sans', sans-serif;

body {
  line-height: inherit;
  font-family: $font-main;
  margin: 0;
  padding: 0;
}

.font-family-main {
  font-family: $font-main;
}

.font-family-sub {
  font-family: $font-sub;
}

// scrollbar
/* For Firefox, Edge, and Opera */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #eaeaea;
  -ms-overflow-style: none; /* For Edge */
}

*::-webkit-scrollbar-track-piece {
  background-color: #eaeaea; /* For Opera */
}

*::-webkit-scrollbar-thumb:vertical {
  background-color: #d1d5db; /* For Opera */
}

*::-webkit-scrollbar-thumb:horizontal {
  background-color: #d1d5db; /* For Opera */
}
// end - scrollbar

.sign-out-menu span {
  color: #f05252;
}
