$font-main: 'Noto Sans Thai', 'Open Sans', sans-serif;
$font-sub: 'Fjalla One', 'Open Sans', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: white;
}

body {
  line-height: inherit;
  font-family: $font-main;
  margin: 0;
  padding: 0;
}

.font-family-main {
  font-family: $font-main;
}

.font-family-sub {
  font-family: $font-sub;
}

// scrollbar
/* For Firefox, Edge, and Opera */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #eaeaea;
  -ms-overflow-style: none; /* For Edge */
}

*::-webkit-scrollbar-track-piece {
  background-color: #eaeaea; /* For Opera */
}

*::-webkit-scrollbar-thumb:vertical {
  background-color: #d1d5db; /* For Opera */
}

*::-webkit-scrollbar-thumb:horizontal {
  background-color: #d1d5db; /* For Opera */
}
// end - scrollbar

.MuiDialog-paperFullWidth {
  margin: 0 !important;
  width: 100% !important;
}

.MuiInput-input {
  padding-left: 6px !important;
  padding-right: 6px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.password-strength-bar {
  p {
    position: absolute;
    right: 0;
    top: -60px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
  }
}

// window sm size
@media screen and (max-width: 599px) {
  .MuiDialog-container {
    align-items: flex-end !important;
  }
}
